
.commun {
    display: flex;

    svg {
        transition: all 0.3s;
    }


    &:hover a {
        fill: rgba(246, 245, 243, 0.6);
    }

    &__link {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: $light100;
        transition: all 0.3s;
    
        &:hover svg {
            fill: $accent400;
        }
    }

    &__item {
        border-left: 1px solid rgba(246, 245, 243, 0.6);
        transition: all 0.3s;

        &:hover {
            border-left: 1px solid $accent400;

            &+.commun__item {
                border-left: 1px solid $accent400;
            }
        }

        &:last-child {
            border-right: 1px solid rgba(246, 245, 243, 0.6);

            &:hover {
                border-right: 1px solid $accent400;
            }
        }
    }
}