.header {
    background-color: $dark900;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__menu {
        margin-right: auto;
    }
    
    &__commun {
        margin-left: auto;
    }
}
