

.global {
    &__icon { 
        border-left: 1px solid $light100;   //=====ВСЕ ЛЕВЫЕ БОРДЕРЫ
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;

        //стилизация шрифтовых иконок
        &:before {
            color: #fff;
            font-size: 18px;
            transition: .5s;
        }
        &:hover {
            border-left: 1px solid $accent400;
            &:before {
                color: $accent400;
            }
        }
    }
}
.menu {
    position: relative;

    &__list {
        position: absolute;
        display: block;
        top: 56px;
        left: 0;
        z-index: 5;
        min-width: 300px;
        box-shadow: 8px 8px 8px #000;
    }

    &__item {
        position: relative;
    }

    &__link {
        font-family: "Nunito", sans-serif;
        text-align: center;
        display: block;
        background-color: $light100;
        padding: 14px 5px;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        border-bottom: 1px solid $dark900;
        transition: all 0.3s;

        &:hover {
            border-bottom: 1px solid $accent400;
            color: $accent400;
        }

        &--trigger {
            width: 100%;
            position: relative;

            svg {
                fill: $dark900;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                transition: all 0.3s;
            }

            &.active {
                ~.menu__inside {
                    display: block;
                }

                svg {
                    fill: $accent400;
                    transform: translateY(-50%) rotate(90deg);
                }
            }
        }
    }

    &__inside {
        display: none;
        position: absolute;
        min-width: 300px;
        margin-left: 3px;
        top: 0;
        left: 300px;
        z-index: 5;
        box-shadow: 10px 10px 10px #00000080;
    }
}