// $dark900: #02060b;
// $light300: #a3a5a8;
// $light100: #f7f6f4;
// $accent400: #bc4504;
// $accent800: #401c04;

body {
    background-color: $light100;
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.30;
    color: #02060b;
}

button {
    cursor: pointer;
}

a, 
button {
    &:focus {
        outline: 2px solid #ffb7006d;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.burger {
    border-left: 1px solid $light100;
    border-right: 1px solid $light100;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $light100;
    transition: all 0.5s;

    &:hover {
        fill: $accent400;
        border-left: 1px solid $accent400;
        border-right: 1px solid $accent400;
    }

    &:active {
        box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.474);
    }

    &.active {
        fill: $accent400;
        box-shadow: inset 2px 2px 10px rgba(225, 154, 0, 0.378);
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

