

// %Signika-700 {
//     font-family: 'Signika', sans-serif;
//     font-weight: 700;
// }

$dark900: #02060b;
$light300: #a3a5a8;
$light100: #f7f6f4;
$accent400: #bc4504;
$accent800: #401c04;


//https://color.romanuke.com/tsvetovaya-palitra-4096/



